body {
    background-color: #0B0C10;
    font-family: 'comic sans ms', sans-serif;
    color: #66FCF1;
    padding: 10px;
}
button {
    background: none;
    border: none;
    color: #66FCF1;
    font-size: 24px;
    cursor: pointer;
    padding: 5px 15px 10px 15px;
    font-family: inherit;
    margin-top: 5px;
    border-radius: 24px;
}
button:hover {
    background: #141a21;
}
ul {
    list-style-type: none;
    margin-left: -30px;
}
h3 {
    margin: 0;
}
p {
    margin-top: 0;
    margin-bottom: 10px;
}
form {
    margin-block-end: 0;
}

.block {
    display: flex;
    background-color: #1F2833;
    border-radius: 24px;
    padding: 5px 15px 10px 15px;
    margin-bottom: 15px;
}
.align_to_center {
    display: grid;
    justify-content: center;
}
.align_to_vertical_center {
    align-items: center;
}
.font_size {
    font-size: 24px;
}


.main_title_text {
    font-size: 48px;
    padding-left: 25px;
    width: 550px;
}
.blog_button_move {
     padding-left: 10px
}
.block_padding {
    padding: 10px;
}

.right_buttons {
    display: flex;
    margin-left: auto;
}
.sign_in_button {
    color: #2ac721;
}
.logout_button {
    color: #c72121;
}


.blog_href {
    color: inherit;
    line-height: 30px;
    text-decoration: none;
}
.blog_href:visited,
.blog_href:link {
    color:inherit;
}
.blog_href:hover {
    text-decoration: underline;
}


.login_input {
    border-radius: 24px;
    font-size: 18px;
    width: 350px;
    border: 2px solid #4682B4;
    outline: none;
    font-family: inherit;
    text-align: center;
}
.login_input_margin {
    margin-top: 20px;
}
.login_label {
    font-size: 18px;
    margin-bottom: 5px;
}
.login_href {
    margin-bottom: 10px;
}
.login_sign_in_button {
    max-width: 120px;
    margin-bottom: 10px
}


.textarea {
    width: 100%;
    height: 550px;
    border-radius: inherit;
    font-size: 16px;
    margin: 15px 5px 10px 5px;
    padding: 10px 15px;
    resize: none;
    outline: none;
}
.blog_input {
    margin-left: 10px;
}
.text{
    flex-wrap: wrap;
    overflow-wrap: break-word;
    word-break: break-all;
}
.admin_select{
    font-size: 18px;
    border-radius: 24px;
    text-align: center;
    width: 120px;
    height: 28px;

}