<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add blog</title>
    <link rel="stylesheet" href="../static/custom.css">
</head>
<body>
    <!-- Title BLOG NAME -->
    <div class="block main_title_text">
        <span>Personal blog Кабанчика</span>
    </div>


    <!-- Title BUTTONS -->
    <div class="block">
        <!-- Button BLOGS -->
        <form method="POST" action="/">
            <button class="blog_button_move">Blogs</button>
        </form>
        <!-- Button ADD -->
        <form method="POST" action="/open_add">
            <button>Add</button>
        </form>
        <div class="right_buttons">
            <!-- Button Logout -->
            <form method="POST" action="/logout">
                <button class="logout_button">Logout</button>
            </form>
        </div>
    </div>


    <form method="POST" action="/write_blog">
        <div class="block align_to_vertical_center">
            <div>
                <!-- BLOG TITLE -->
                <label class="font_size blog_button_move" for="add_title">Blog title</label>
                <input class="login_input blog_input" type="text" id="add_title" name="add_title" value="{{ title }}">
            </div>

            <!-- SUBMIT BUTTON -->
            <div class="right_buttons">
                <button class="sign_in_button">Submit</button>
            </div>
        </div>


        <div class="block">
            <textarea class="textarea" name="add_text">{{ text }}</textarea>
        </div>
    </form>
</body>
</html>